.vfl-has-label {
  position: relative;
}

.vfl-label {
  position: absolute;
  top: 0;
  left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.vfl-label-on-input {
  top: -4px;
  pointer-events: all;
  opacity: 1;
}