@use '@/assets/styles/common' as *;

.posts-swiper {
  width: calc(100% - 10px);
  position: relative;

  @include mq(tablet) {
    width: 100%;
    height: 100%;
  }

  &__button-prev, &__button-next {
    position: absolute;
    z-index: 100;
    top: 0;
    margin: 0;
    height: 100%;
    width: 46px;
    display: flex;
    align-items: center;
  }
  
  &__button-prev {
    left: 0;
    background-image: linear-gradient(270deg, #0000 0%, var(--bg-color-primary) 50%) !important;
  }

  &__button-next {
    right: 0;
    background-image: linear-gradient(90deg, #0000 0%, var(--bg-color-primary) 50%) !important;
  }

  & .swiper-button-disabled {
    opacity: 0 !important;
    transition: opacity 0.5s ease-in-out;
  }

  & .swiper-slide-active {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: clamp(26.25rem, 2.297rem + 49.9vw, 42.188rem) !important;
    }
  }

  & .swiper-slide-next {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: clamp(26.25rem, 2.297rem + 49.9vw, 42.188rem) !important;
    }
  }
}

.posts-card {
  --width: 410px;
  --height: 210px;
  --padding: 30px;
  min-width: var(--width);
  height: var(--height);
  padding: var(--padding);
  display: grid;
  grid-template-rows: 48px 1fr;
  row-gap: 15px;
  cursor: pointer;

  @include mq(laptop) {
    --width: 325px;
    --height: 260px;
  }

  @include mq(tablet) {
    --width: 420px;
    --height: 215px;
  }

  @include mq(mobile) {
    --width: 325px;
    --height: 250px;
  }

  &__user-panel {
    width: 100%;
    height: 48px;
    display: grid;
    grid-template-areas: 
      'avatar name time'
      'avatar status time';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 48px 1fr 34px;
    column-gap: 17px;
  }

  &__avatar {
    grid-area: avatar;
  }

  &__user-name {
    grid-area: name;
    font-family: 'Rubik-Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  &__user-status {
    grid-area: status;
    font-family: 'Rubik-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(to right, #96A7AF 75%, rgba(0, 186, 187, 0) 100%);
    background-clip: text;
    color: transparent;
  }

  &__user-time {
    grid-area: time;
    font-family: 'Rubik-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #96A7AF;
    text-align: right;
  }

  &__user-text {
    font-family: 'Rubik-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
  }
}