@use '@/assets/styles/common' as *;

.time-date {
  --width: 260px;
  width: var(--width);
  height: 100%;
  border-radius: 16px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mq(laptop) {
    --width: 210px;
    gap: 20px;
  }

  @include mq(tablet) {
    --width: 100%;
    background-color: var(--bg-color-secondary);
    gap: 15px;
  }

  @include mq(mobile) {
    --width: 100%;
  }

  &__card {
    --height: 137px;
    --padding: 30px;

    width: 100%;
    height: var(--height);
    padding: var(--padding) 0px 0px var(--padding);

    @include mq(laptop) {
      --height: 120px;
    }

    @include mq(tablet) {
      --height: 69px;
      --padding: 15px;
    }

    @include mq(mobile) {
      --height: 69px;

      &:nth-child(1) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      
      &:nth-child(2) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  &__title {
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Rubik-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    @include mq(laptop) {
      margin-bottom: 5px;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }

  &__time-value {
    font-family: 'Rubik-Medium';
    font-weight: 500;
    font-size: 32px;
    
    @include mq(laptop) {
      font-size: 24px;
    }
  }

  &__date-value {
    font-family: 'Rubik-Bold';
    font-weight: 700;
    font-size: 32px;

    @include mq(laptop) {
      font-size: 24px;
    }
  }
}