@use '@/assets/styles/common' as *;

.catalog-item {
  width: 100%;
  min-height: 249px;
  max-height: 419px;
  display: grid;
  grid-template-rows: 1fr;

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__picture {
    z-index: 2;
    min-height: 140px;
    max-height: 310px;
    margin-bottom: 30px;
    border-radius: 16px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__img {
    z-index: 1;
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
  }

  &__name {
    padding-left: 30px;
    margin-bottom: 10px;
  }

  &__title {
    font-family: 'Rubik-Regular';
    font-size: 24px;
    line-height: 29px;
    color: var(--accent-color);
  }

  &__badges {
    margin-bottom: 30px;
    padding: 0px 30px;
    display: grid;
    grid-template-columns: 1fr minmax(73px, auto) 16px;
    column-gap: 10px;
  }

  &__label {
    justify-self: left;
    max-width: 200px;
    padding: 2px 10px;
    color: var(--color-solid-light);
    white-space: nowrap;
    overflow: hidden;

    @media screen and (min-width: 1280px) and (max-width: 1550px) {
      max-width: 160px;
    }
  }

  &__like {
    width: 16px;
    height: 16px;
  }
}