:root {
  --color-solid-bg-dark: #0F172A;
  --color-solid-light-dark: #334155;
  --color-solid-primary: #4C6FFF;
  --color-solid-primary_hover: #6B87FA;
  --color-solid-success: #66CB9F;
  --color-solid-danger: #F16063;
  --color-solid-light: #EDF2F7;
  --color-solid-white: #FFFFFF;
  --color-solid-lightgray: #D5D5DC;
  --color-solid-darklight: #17171B;

  --color-gradient-purple: linear-gradient(225deg, #D665FF 0%, #4C6FFF 100%);
  --color-gradient-black: linear-gradient(225deg, #29272E 0%, #27272E 100%);
  --color-gradient-orange: linear-gradient(225deg, #FFC656 0%, #F16063 100%);
  --color-gradient-yellow: linear-gradient(225deg, #FFEF5E 0%, #F7936F 100%);
  --color-gradient-pink: linear-gradient(224.47deg, #FF92AE 8.18%, #FF3D9A 95.84%);
  --color-gradient-green: linear-gradient(225deg, #67E9F1 0%, #24E795 100%);
  --color-gradient-shadow: linear-gradient(225deg, rgba(41, 39, 46, 0.8) 0%, rgba(39, 39, 46, 0.8) 100%);

  --color-primary: var(--color-solid-darklight);
  --color-secondary: var(--color-solid-light-dark);
  --accent-color: var(--color-solid-bg-dark);
  --bg-color-primary: var(--color-solid-light);
  --bg-color-secondary: var(--color-solid-white);
  
  --pie-empty-color: var(--color-solid-light);
  --chat-dialog-incoming-message: var(--color-solid-darklight);
  --chat-dialog-date-separator: var(--color-solid-light);
}

[theme="dark"] {
  --color-primary: var(--color-solid-white);
  --color-secondary: var(--color-solid-lightgray);
  --accent-color: var(--color-solid-light);
  --bg-color-primary: var(--color-solid-bg-dark);
  --bg-color-secondary: #1B2335;

  --pie-empty-color: var(--color-solid-light-dark);
  --chat-dialog-incoming-message: var(--color-solid-light);
  --chat-dialog-date-separator: var(--color-solid-light-dark);
}

$breakpoints: (
  xs: 23.4375em, // 375px
  mobile: 47.9375em, // 767px
  tablet: 79.9375em, // 1279px
  laptop: 119.9375em // 1919px
)