.base-radio {
  display: none;

  &:checked + .base-radio-label:before {
    background-image: url('@/assets/images/BaseRadio/radio-checked.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.base-radio-label {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  user-select: none;

  &:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 2px solid var(--color-solid-light-dark);
    border-radius: 100px;
    background-color: #FFFFFF;
  }

  &:hover:before {
    filter: brightness(150%);
  }
}